<!--The content below is only a placeholder and can be replaced.-->
<h1> Sklep internetowy TEST</h1>
    <nav>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/allProducts" routerLinkActive="active">Wszystkie produkty</a>
        <a routerLink="/addProduct" routerLinkActive="active">Dodaj produkt</a>
        <a routerLink="/addCategory" routerLinkActive="active">Dodaj kategorię</a>
      </nav>

      <div class="container">
        <div class="row">
          <router-outlet></router-outlet>
        </div>

      </div>
      

