

<!-- <form  method="post"> -->

  <div class="container">
    <h1>Dodaj uzytkownika</h1>
    <div class="row">
      <div class="col-*-*">
        <div class="row">
          <div class="col-*-*">
            <label>Nazwa </label>
            <input type="text" name="username" [(ngModel)]="user.username">
          </div>
        </div>
        <div class="row">
          <div class="col-*-*">
            <label>Hasło</label>
            <input type="password" name="password" [(ngModel)]="user.password">
          </div>
        </div>
        <div class="row">
          <div class="col-*-*">
            <label>email</label>
            <input type="email" name="email" [(ngModel)]="user.email">
          </div>
        </div>
        <div class="row">
          <div class="col-*-*">
            <label> Nr tel: </label>
            <input type="text" name="phoneNo" [(ngModel)]="user.phoneNo">
          </div>
        </div>
        <label>Kategoria</label>
        <!-- <input type="text" name="category" [(ngModel)]="product.category.name"> -->
  
        
        
        <!-- <div *ngIf=""> -->
  
      
     
    </div>
  </div>
  <button type="button" class="btn-success" (click)="addUser()"> Dodaj </button>
  </div>
  <!-- </form> -->