<div class="container">
  <h1>Dodaj uzytkownika</h1>
  <div class="row">
    <div class="col-*-*">
      <div class="row">
        <div class="col-*-*">
          <label>Nazwa </label>
          <input type="text" name="username" [(ngModel)]="user.username">
        </div>
      </div>
      <div class="row">
        <div class="col-*-*">
          <label>Hasło</label>
          <input type="password" name="password" [(ngModel)]="user.password">
        </div>
      </div>
      </div>
       </div>
       </div>